@font-face {
    font-family: Brittany;
    src: url(../font/Brittany.ttf);
  }

@font-face {
    font-family: CoreBandi;
    src: url(../font/CoreBandi.ttf);
  }

.description{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.description p{
font-family: CoreBandi;
font-size: 22px;
letter-spacing: 1px;
text-align: justify;
width: 85%;
margin-left: auto;
margin-right: auto;
}


.description img{
  width: 300px ;
  height: 300px;
  display: block;
  margin: 0 auto;
  margin-bottom: 4rem;
  object-fit: cover;
  aspect-ratio: 1/1;
  clip-path: circle(0% at 50% 50%);
  animation: openImg 2s ease-in-out forwards;
}



.competences{
  margin-top: 2vw;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.competences img{
  width: auto;
  aspect-ratio: 2/1;
  height: 250px;
  object-fit: contain;
}


.download{
  text-align: center;
  margin-top: 2rem;
  padding-top: 1rem;
  text-decoration: none;
  color: black;
}

@media screen and (min-width: 870px) {
  .description {
    width: 80%;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
  }
   .competences {
    width: 70%;
    flex-direction: row;
  }
 

}




@keyframes openImg {

0% {
  clip-path: circle(0% at 50% 50%);

}

50% {
  clip-path: circle(25% at 50% 50%);

}

100% {
  clip-path: circle(50% at 50% 50%);

}
}